<main>
  <h1 class="text-center">Job Dashboard</h1>
  <div class="container">
    <table class="table table-hover">
      <tr>
        <th>Date</th>
        <th>Address1</th>
        <th>Address2</th>
        <th>City</th>
        <th>State</th>
        <th>Zipcode</th>
        <th>Bid Amount</th>
        <th>Paid Amount</th>
        <th>Notes</th>
      </tr>
      <tr>
        <td>4/10/16</td>
        <td>1600 Pennsylvania Ave., N.W.</td>
        <td></td>
        <td>Washington</td>
        <td>DC</td>
        <td>20036</td>
        <td>$50,000</td>
        <td>$40,000</td>
        <td>Fences are not high enough</td>
      </tr>
      <tr>
        <td>1/5/16</td>
        <td>1133 15th St., N.W.</td>
        <td></td>
        <td>Washington</td>
        <td>DC</td>
        <td>20008</td>
        <td>$5,000</td>
        <td>$4,000</td>
        <td>Would work with again.</td>
      </tr>
      <tr>
        <td>5/25/16</td>
        <td>111 1st St., N.W.</td>
        <td></td>
        <td>Washington</td>
        <td>DC</td>
        <td>20001</td>
        <td>$500,000</td>
        <td>$400,000</td>
        <td>No.  Never again.</td>
      </tr>
      <tr>
        <td>6/4/16</td>
        <td>1800 Massachusetts Ave., N.W.</td>
        <td>Suite 200</td>
        <td>Washington</td>
        <td>DC</td>
        <td>20008</td>
        <td>$100</td>
        <td>$99.99</td>
        <td>Nice office.</td>
      </tr>
    </table>
  </div>
</main>
