<main>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container-fluid">
	<div class="col-md-12 col-md-offset-11">
  	<button type="button" class="btn-primary btn-sm"> Dashboard </button>
	</div>

	  <h1 align="center"> <font color=#3BB9FF><b> BuildUP </b></h1></font>


	<div class="row">
	  <div class="col-md-4">
  	<button type="button" class="btn-primary btn-lg btn-block"> Filter </button>
  		</div>
	</div>

	<div class="col-md-8">
		<img src="https://cdn.shopify.com/s/files/1/0078/2472/products/Washington_dc_rainbow_18x24_full_1024x1024.jpg?v=1426264934" alt="..." class="img-rounded">
	</div>
</div>

</main>
