<main>
  <div class="container-fluid home">
  	<div class="row">
  	  <div class="col-lg-4 col-md-12 filter">
    	  <h2 class="filter__headline">Filter</h2>
      </div>
      <div class="col-lg-8 col-md-12 hotspots">
        <h2 class="hotspots__headline">Your potential hotspots</h2>
          <div id="map"></div>
      </div>
  	</div>
  </div>
</main>
