<% include ./common/header.ejs %>
<% include ./common/navigation.ejs %>
<% include ./common/page-header.ejs %>
<div>YOUR SITE GOES HERE</div>
<% include ./common/page-footer.ejs %>
<% include ./common/core-js.ejs %>
<% include ./common/footer.ejs %>
