<nav class="navbar main-nav">
	<ul class="nav navbar-nav navbar-right">
		<li><a role="button" class="option main-nav__link" href="/"><span class="fa fa-home"></span> Home</a></li>
    <li><a role="button" class="option main-nav__link" href="/dashboard"><span class="fa fa-pencil"></span> Dashboard</a></li>
	</ul>
</nav>
